<div class="container">
    <div class="list-section">
      <button mat-raised-button color="accent" *ngIf="this.authService.currentUser.role.includes('ADMIN')"(click)="openCreateOverlay()">Ajouter un véhicule</button>
      
      <h2>Liste des Véhicules</h2>
      <table mat-table [dataSource]="cars" class="car-table mat-elevation-z8">
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef> Marque </th>
          <td mat-cell *matCellDef="let car"> {{ car.brand }} </td>
        </ng-container>
  
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef> Modèle </th>
          <td mat-cell *matCellDef="let car"> {{ car.model }} </td>
        </ng-container>
  
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef> Couleur </th>
          <td mat-cell *matCellDef="let car"> {{ car.color }} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let car">
            <button mat-button color="primary" *ngIf="authService.currentUser.role == 'ADMIN'" (click)="openEditOverlay(car)">Modifier</button>
            <button mat-button color="warn" *ngIf="authService.currentUser.role == 'ADMIN'" (click)="deleteCar(car.id)">Supprimer</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['brand', 'model', 'color', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['brand', 'model', 'color', 'actions']"></tr>
      </table>
    </div>
  
    <div class="overlay" *ngIf="isOverlayOpen">
      <div class="overlay-content">
        <h2>{{ isEditMode ? 'Modifier' : 'Ajouter' }} un véhicule</h2>
        <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Marque</mat-label>
            <input matInput formControlName="brand" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Modèle</mat-label>
            <input matInput formControlName="model" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Couleur</mat-label>
            <input matInput formControlName="color" required>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit">
            {{ isEditMode ? 'Modifier' : 'Ajouter' }} la voiture
          </button>
          <button mat-button color="warn" (click)="closeOverlay()" type="button">Annuler</button>
        </form>
      </div>
    </div>
  </div>
  